* {
    background-color: burlywood;
    margin: 0;
    padding: 0;
    
    }

    .tsukimi-rounded-regular {
        font-family: "Tsukimi Rounded", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-width: thick;
}

.game-container {
    margin-top: 3rem;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    gap: 3rem;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: 1fr;
}
.score-board {
    
    grid-row: 1 / 2;
    align-content: center;
    text-align: center;
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 2rem;
}

.gameboard-container {
    
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    height: 25rem;
    width: 25rem;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    --border-px-size: 3px;
    font-size: 5rem;
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 600;
    
}



.box1, .box2, .box4, .box5 {
    
    border-right: var(--border-px-size) solid black;
    border-bottom: var(--border-px-size) solid black;
    text-align: center;
    align-content: center;
}

.box3, .box6 {
    border-bottom: var(--border-px-size) solid black;
    text-align: center;
    align-content: center;
}

.box7, .box8 {
    border-right: var(--border-px-size) solid black;
    text-align: center;
    align-content: center;
}

.box9 {
    text-align: center;
    align-content: center;
}

.buttons:hover {
  cursor: pointer;
}



